<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
    <div *ngIf="user.nome">
      <br> Meu nome é: {{user.nome}}
      <br> Minha idade é: {{user.idade}}
      <div *ngIf="user.enderecos && user.enderecos.length > 0">
        <br>Meus endereços são:
        <div *ngFor="let adreess2 of user.enderecos; let i = index;">
          <br>Rua {{adreess2.endereco}} numero {{adreess2.numero}} em {{adreess2.cidade}}
          <button (click)="removerEndereco(i);">
            X
          </button>
        </div>
      </div>
      <br>
    </div>
    <br>
    <form action="">
      <div *ngIf="user != null && user.nome; else templateNome">
        <br> Endereco:
        <input type="text" [(ngModel)]="adreess.endereco" name="txtEndereco" id="txtEndereco">
        <br> Numero:
        <input type="number" [(ngModel)]="adreess.numero" name="txtNumero" id="txtNumero">
        <br> Cidade:
        <input type="text" [(ngModel)]="adreess.cidade" name="txtCidade" id="txtCidade">
        <br>
        <button (click)="addEndereco();">
          Adicionar Endereco
        </button>
      </div>
      <ng-template #templateNome>
        <br> Nome:
        <input type="text" [(ngModel)]="newUser.nome" name="txtNome" id="txtName" required>
        <br> Idade:
        <input type="number" [(ngModel)]="newUser.idade" name="txtIdade" id="txtIdade">
        <br>
        <button (click)="saveUser()">
          Criar Novo usuario
        </button>
      </ng-template>
      <button (click)="resetFormulario();">
        Reset
      </button>
    </form>
  </h1>

  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
    </h2>
  </li>
</ul>